.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  background-color: black;
}
.logo-movex {
  width: 120px;
  height: auto;
}
.connect-button {
  margin-left: auto;
  color: #6dffa7;
  border-color: #6dffa7;
  background-color: black;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: black;
  color: white;
}


.App-link {
  color: #6dffa7;
}

p {
  margin: 8px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: auto;
  padding-top: 30px;
  width: 500;
}

/* .input {
  margin-bottom: 30px;
  padding: 5px 15px;
  width: 300px;
} */

.btn {
  padding: 7px 7px;
  cursor: pointer;
  margin-left: auto;
  color: #6dffa7;
  border-color: #6dffa7;
  border-radius: 50px;
  background-color: black;
  margin-left: 10px;
}

.label {
  color: whitesmoke;
  font-size: 16px;
  font-weight: 400;
  margin-right: 3px;
  margin-left: 15px;
}

.field {
  display: inline-block;
  width: 200px;
  margin-inline: 5px;
  height: auto;
  position: relative;
  padding: 5px 5px;
  border-width: 2px;
  border-radius: 7px;
  border-color: whitesmoke;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: normal;
  background-color: black;
  color: whitesmoke;
}

.side-by-side {
  display: flex;
  align-items:flex-end;
  justify-content:center;
  flex-direction: row;
}