:root {
    --wkit-accent-hs: 166, 91%;
    --wkit-on-accent-rgb: 255, 255, 255;
    --wkit-bg-rgb: 40, 40, 40;
    --wkit-on-bg-rgb: 241, 241, 241;
}

.wkit-button {
    width: 180px;
    height: auto;
    color: #6dffa7;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: #6dffa7;
    background-color: black;
}

.wkit-button:hover {
    background-color: black;
 }